.pagination {
    position: fixed;
    top: 10%;
    left: 97%;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; 
    border: 1px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    opacity: 1;
} 

.pagination-elem {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #fff;
}

.pagination-link--active  {
    border: 1px solid #fff;
}